.presentation {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.presentation--title {
  /* padding-top: 8%; */
  font-size:250%;
  font-family: 'Exo 2';
  font-weight: 700;
  color: #e3e2cb;
  display: flex;
}

.presentation--coorporate{
  margin-right: 3%;
}

.presentation--it{
  margin-right: 3%;
  animation: change 5s step-end infinite;
}

.presentation--logo {
  font-size: 200%;
  font-family: 'Exo 2';
  font-weight: 400;
  color: #f2b891;
  margin: 0;
  
}

.presentation--description {
  font-size: 150%;
  font-family: 'Exo 2';
  font-weight: 400;
  color: #f2b891;
  margin: 0;
  width: 70%;
  text-align: center;
}

.presentation--button{
  display: flex;
  flex-direction: row;
}


@keyframes change {
  0% {
    color: #f2b891;
  }
  25% {
    color: #ED9B63;
  }
  50% {
    color: #f2b891;
  }
  75% {
    color: #e3e2cb;
  }
}

.custom-shape-divider-bottom-1647462308 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1647462308 svg {
  position: relative;
  display: block;
  width: calc(149% + 1.3px);
  height: 157px;
}

.custom-shape-divider-bottom-1647462308 .shape-fill {
  fill: #E3E2CB;
}

@media only screen and (max-width: 769px) {

  .presentation--title{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 200%;
  }
  .presentation--coorporate {
    margin: 0;
  }
  .presentation--logo {
    font-size: 120%;
    padding-top: 2%;
  }
  .presentation--description{
    font-size: 90%;
  }

}

@media only screen and (min-width: 1179px) {

}