.presentation {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.presentation--title {
  /* padding-top: 8%; */
  font-size:250%;
  font-family: 'Exo 2';
  font-weight: 700;
  color: #e3e2cb;
  display: flex;
}

.presentation--coorporate{
  margin-right: 3%;
}

.presentation--it{
  margin-right: 3%;
  animation: change 5s step-end infinite;
}

.presentation--logo {
  font-size: 200%;
  font-family: 'Exo 2';
  font-weight: 400;
  color: #f2b891;
  margin: 0;
  
}

.presentation--description {
  font-size: 150%;
  font-family: 'Exo 2';
  font-weight: 400;
  color: #f2b891;
  margin: 0;
  width: 70%;
  text-align: center;
}

.presentation--button{
  display: flex;
  flex-direction: row;
}


@keyframes change {
  0% {
    color: #f2b891;
  }
  25% {
    color: #cbdf1e;
  }
  50% {
    color: #e635e4;
  }
  75% {
    color: #e3e2cb;
  }
}

