.footbar{
  background: #22346a;
  position: relative;
  color: #e3e2cb;
   
}

.footbar--main{
  margin-top: 10%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.footbar--main-information{
  margin: 1%;
  margin-left: 8%;
  font-family: 'Exo 2';
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #ed9b63;
}

.footbar--main-information-innerCircle{
  background-color:#22346a;
  margin-top: 3%;
  margin-left: 3%;
  width: 470px;
  height: 470px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.footbar--main-information-title{
  padding: 2%;
  font-size: 250%;
  font-weight: 400;
}

.footbar--main-information-quote{
  color: #f2b891;
  font-size: 120%;
  padding-bottom: 4%;
}

.footbar--main-contact-form{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-right: 8%;
}

.footbar--main-contact-title{
  padding: 2%;
  font-size: 200%;
  font-weight: 400;
  font-family: 'Exo 2';
}