.about {
  display: flex;
  flex-wrap: wrap;
  background-color: #e3e2cb;
  flex-direction: column;
  width: 100%;
}

.about--what-we-do {
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: 'Exo 2';
  position: relative;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 80%;
}

.about--title{
  text-align: right;
  padding: 2%;
  width: 40%;
  color: #22346a;
  font-size: 160%;
}

.about--description{
  width: 60%;
  font-size: 130%;
}

.about--our-goals{
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: 'Exo 2';
  position: relative;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 80%;
}
.goals--description{
  width: 60%;
  font-size: 130%;
  text-align: end;
  padding-left: 10%;
}
.goals--title{
  text-align: left;
  padding: 2%;
  width: 40%;
  color: #22346a;
  font-size: 160%;
}


.about--image{
  width: auto;
  height: 400px;
  max-width: 100%;
  background-attachment: fixed;
}

.about--image-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Exo 2';
  color: #ed9b63;
  font-size: 300%;
}

.about--tag{
  margin: 0;
  padding-right: 2%;
}

.about--shape{
  position: relative;
}

.custom-shape-divider-top-1647462229 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1647462229 svg {
  position: relative;
  display: block;
  width: calc(149% + 1.3px);
  height: 157px;
}

.custom-shape-divider-top-1647462229 .shape-fill {
  fill: #E3E2CB;
}

.about--statistics-main-content{
  display: flex; 
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  font-family: 'Exo 2';
  font-size: 150%;
  padding-bottom: 3%;
}

.about-statistics{
  display: flex;
  flex-direction: column;
  padding-bottom: 1%;
  align-items: center;
}
.statistics--main-element{
  margin: 0;
}

.statistics--second-element{
  margin: 0;
  font-weight: 400;
}
