.navbar {
  display: flex; 
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #22346a;
  margin: 0;
}

.navbar--logo {
  width: 50%;
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center
}

.navbar--image {
  width: 10%;
  padding: 1% 1% 1% 8%; 
}

.navbar--title{
  padding-left: 1%;
  font-family: "Exo 2";
  font-weight: 600;
  font-size: 250%;
  color: #f2b891;
}