.navbar {
  display: flex; 
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #22346a;
  margin: 0;
  width: 100%;
}

.navbar--logo {
  width: 50%;
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center
}

.navbar--image {
  width: 20%;
  padding: 1% 1% 1% 8%; 
}

.navbar--title{
  padding-left: 1%;
  font-family: "Exo 2";
  font-weight: 600;
  font-size: 250%;
  color: #f2b891;
}

.navbar--buttons{
  display: flex;
  align-items: center;
  width: 50%;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding-right: 3%;
}


@media only screen and (max-width: 769px) {
  .navbar{
    width: 100%;
  }

  .navbar--title{
    display: none;
  }
  .navbar--image{
    width: 30%;
    padding: 2% 1% 1% 10%; 
  }
  .navbar--buttons-responsive{
    display: none;
  }

}

@media only screen and (min-width: 1179px) {

}