.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: absolute;
}

/* @media only screen and (max-width: 769px) {
  body {
    font-size: 100%;
  }
} */